<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="The Counted Boss Click to Call.">
    <title>Counted</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   <link rel="stylesheet" href="/static/styles/intlTelInput.css">

</head>
  <body>

    <nav class="blue" role="navigation" id="top">

        <div class="nav-wrapper container">
        </div>
    </nav>

    <!-- Category Text -->
    <div class="container">
        <div class="section">
            <div class="row center">
                <h3 class="header col s12 light">Be Counted</h3>
                <h4 class="header col s12 light"><b>The BOSS Solution</b></h4>
                <hr>
                <h5>This is an application that will allow you to call and find out about available up to the minute bed space in shelters in  Baltimore City!</h5>
            </div>
        </div>
        <div class="container">
          <div class="card">
            <div class="row">
                <div class="col s12 center">
                    <form id="contactForm" role="form" action="#">
                        <div class="form-group">
                            <h3>Call now!</h3>
                            <p class="center">
                                Please enter your phone number. We will call you and then connect you.
                            </p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone" id="phoneNumber" placeholder="(651) 555-7889">
                        </div>

                        <div class="container">
                            <div class="section center">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="icon-block">
                                            <h3 class="center brown-text"><button class="btn-large waves-effect waves-light blue " type="submit">Call Now</button></h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                  </div>
                </div>
            </div>

        </div>
        </div><!-- /page -->



     <!-- Footer -->
    <footer class="page-footer blue darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">BeCounted</h5>
                    <p class="grey-text text-lighten-4">The Boss</p>
                </div>
                <div class="col l6 s6">
                </div>

            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright">
            <div class="container">
                <a class="white-text left" href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a>
                <a class="white-text right" href="#top">Top</a>
            </div>
        </div>
    </footer>




    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/vendor/intl-phone/js/intlTelInput.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>